<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Tonje og Terje gifter seg!" />
		<title>Tonje og Terje gifter seg</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" type="image/png" href="favicon.png" />
	</head>
	<body>
		<div class="section section-header">
			<!-- <div class="bottom-color"></div> -->
			<div class="top-img"></div>
			<div class="container">
				<div class="logo-container">
					<div class="logo-bg"></div>
					<img
						src="img/logo grey1.svg"
						alt="Tonje og Terje logo"
						id="logo"
					/>
				</div>
			</div>
		</div>
		<div class="section section-details">
			<div class="container small-container">
				<div class="details-holder">
					<h2>Hommelvik kirke <br />7. september kl 13</h2>
					<h3>
						Middag og fest på
						<a href="https://svebergtunet.no/">Svebergtunet</a> kl
						16:30
					</h3>
					<p>Hei</p>
					<p>
						Det nærmer seg bryllup med stormskritt og vi gleder oss!
						Vi har fått hjelp av Rolf til å lage denne nettsiden
						hvor vil legger ut litt info, bilder etc. Vi har lagt ut
						noen bilder fra den tiden da vi virkelig var ung og
						lovende og Terje hadde hår og greier… Bandet Boost fra
						Stjørdal er leid inn og kommer til å spille for oss
						utover kvelden. Gamle slagere vil komme på rekker og
						rad.
					</p>
					<p>
						Toastmaster under bryllupet er Nina Kristin Kammen. Om
						noen ønsker kontakt med henne, så nås hun på
						<a href="mailto:nk_kammen@hotmail.com"
							>nk_kammen@hotmail.com</a
						>
						og telefonnummer
						<a href="tel:+4793654015">936 54 015</a>. Nærmeste
						hotell er
						<a
							href="https://www.bestwestern.no/booking-path/hotel-rooms/best-western-stav-hotel-trondheim-73107"
							>Best Western hotell på Stav</a
						>
						kun en kilometer unna stedet hvor festen skal være. Det
						er også mulig å booke overnatting på
						<a href="https://www.storsandcamping.no/"
							>Storsand Camping</a
						>
						eller hotell på Værnes, Stjørdal eller i Trondheim.
					</p>

					<p>
						Da har vi ønskeliste som ligger på
						<a
							target="_blank"
							href="https://www.tilbords.no/bryllup/vis-liste/?wishListId=55813"
							>tilbords.no</a
						>. Søk på "Tonje Sæther & Terje Kammen" så kommer våre
						ønsker opp. Velg Tilbords Trondheim og Solsiden. Vi
						ønsker oss også pengegave til reise ✈ 🛬 👍. I tilfelle
						pengegaver bruk kontonummer 4285.16.59700.
					</p>

					<p>
						Kvelden før bryllupet legger vi opp til en samling for
						de som ønsker det. Vi tenker å booke bord på en
						restaurant i Trondheim, hvor vi kan spise og ha det
						hyggelig sammen. Vi er avhengig av å vite hvem som kan
						tenke seg å være med på dette, slik at vi har et antall
						å gå ut fra. Se
						<a
							href="https://www.facebook.com/events/346790052870236"
							target="_blank"
							>Facebook for oppdateringer</a
						>.
					</p>
					<p>Vi gleder oss virkelig til den store dagen!</p>
					<img src="img/blomst.png" alt="Blomst" class="flower" />
				</div>
			</div>
		</div>
		<div class="section section-time">
			<div class="container small-container">
				<div class="details-holder">
					<div id="countDownTimer">
						<p id="rings-icon">
							<img src="img/wedding-rings.svg" alt="klokke" />
						</p>
						<span>
							<div class="number">{{ time.days }}</div>
							<div class="desc" v-if="time.days == 1">dag</div>
							<div class="desc" v-else>dager</div>
						</span>
						<span>
							<div class="number">{{ time.hours }}</div>
							<div class="desc" v-if="time.hours == 1">
								time
							</div>
							<div class="desc" v-else>timer</div>
						</span>
						<span>
							<div class="number">{{ time.minutes }}</div>
							<div class="desc" v-if="time.minutes == 1">
								minutt
							</div>
							<div class="desc" v-else>minutter</div>
						</span>
						<span>
							<div class="number">{{ time.seconds }}</div>
							<div class="desc" v-if="time.seconds == 1">
								sekund
							</div>
							<div class="desc" v-else>sekunder</div>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="section section-pictures">
			<canvas id="triangles"></canvas>
			<div class="container small-container">
				<ul id="pictures">
					<li class="image">
						<img src="img/drinks.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/boat.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/kiss.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/strand.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/mountain.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/pynta.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/selfie.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/sofa.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/sofa2.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/uniform.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/uten-bart.jpg" alt="" />
					</li>
					<li class="image">
						<img src="img/kampynten.jpg" alt="Kampynten" />
					</li>
				</ul>
			</div>
		</div>
		<div class="feedback">
			<span class="xxl">xxl</span> <span class="xl">xl</span>
			<span class="l">l</span> <span class="m">m</span>
			<span class="s">s</span> <span class="xs">xs</span>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="script.js"></script>
		<script src="canvas-script.js"></script>
	</body>
</html>
