@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300');
.feedback {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.feedback span {
  display: none;
  font-size: 17px;
  padding: 3px 5px;
  background-color: #ff5beb;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 1200px) {
  .feedback .xxl {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback .xl {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback .l {
    display: block;
  }
}
@media (min-width: 551px) and (max-width: 767px) {
  .feedback .m {
    display: block;
  }
}
@media (min-width: 321px) and (max-width: 550px) {
  .feedback .s {
    display: block;
  }
}
@media (max-width: 320px) {
  .feedback .xs {
    display: block;
  }
}
.container {
  margin: 0 auto;
  min-height: 100vh;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.container.small-container {
  display: flex;
  position: relative;
}
.container.small-container > * {
  margin: auto;
}
@media (min-width: 1200px) {
  .container.small-container {
    width: 555px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container.small-container {
    width: 455px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container.small-container {
    width: 345px;
  }
}
body {
  margin: 0;
}
*,
:before,
:after {
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.font1 {
  font-family: 'Playfair Display', serif;
}
.font2 {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  line-height: 1.4em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
ul a {
  color: #f7f7cb;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a:hover,
ul a:hover {
  color: #f7f7cb;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}
h2 {
  font-size: 40px;
}
@media (min-width: 768px) and (max-width: 991px), (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  h2 {
    font-size: 26px;
  }
}
h3 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
@media (min-width: 768px) and (max-width: 991px), (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  h3 {
    font-size: 18px;
  }
}
p,
ul {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  line-height: 1.75em;
}
@media (min-width: 768px) and (max-width: 991px), (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  p,
  ul {
    font-size: 18px;
  }
}
p a,
ul a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border 0.2s ease-out;
}
p a:hover,
ul a:hover {
  border-color: #f7f7cb;
}
.section {
  position: relative;
  overflow: hidden;
  padding: 70px 0;
}
.section-header {
  padding: 0;
}
.section-header .top-img {
  width: 100vw;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20vh;
  z-index: -1;
  background-image: url(img/mountain.jpg);
  background-position: top center;
}
.section-header .bottom-color {
  width: 200vw;
  height: 200vh;
  position: absolute;
  top: 80%;
  left: -10vh;
  transform-origin: 0 0;
  transform: rotate(-4deg);
  background: #0a3057;
  background-image: url(img/flower-wall.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 350px;
  height: 350px;
  max-width: 85%;
  padding: 20px;
  border-radius: 1000px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  background: #0a3057;
  display: flex;
}
@media (max-width: 500px) {
  .logo-container {
    width: 80vw;
    height: 80vw;
  }
}
#logo {
  height: auto;
  max-width: 100%;
  margin: auto;
  margin-right: -1%;
}
.outline {
  outline: 2px solid #f7f7cb;
  outline-offset: -10px;
}
.section-details {
  background-image: url('img/bouquet.jpg');
}
.details-holder {
  padding: 20px 50px;
  padding-top: 0;
  background: #0a3057;
  position: relative;
  outline: 2px solid #f7f7cb;
  outline-offset: -10px;
  box-shadow: 0 0 120px #ffffff;
  text-align: center;
  color: #f7f7cb;
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  .details-holder {
    padding: 8vw;
    padding-top: 0;
  }
}
.details-holder .flower {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 170px;
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  .details-holder .flower {
    width: 130px;
    transform: translate(0, -75%);
  }
}
.section-time {
  background-image: url('img/flower-wall.jpg');
}
.section-time .details-holder {
  padding: 20px;
  background: transparent;
  box-shadow: none;
  outline-offset: 0;
  outline: none;
  border: 5px solid #f7f7cb;
  border-top: none;
}
.section-time .details-holder:before,
.section-time .details-holder:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: calc(50% - 70px);
  height: 5px;
  background: #f7f7cb;
}
.section-time .details-holder:before {
  right: auto;
}
.section-time .details-holder:after {
  left: auto;
}
#countDownTimer {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
  #countDownTimer > span {
    width: 50%;
    padding: 20px;
  }
}
@media (min-width: 551px) and (max-width: 767px) {
  #countDownTimer > span {
    width: 50%;
  }
}
@media (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  #countDownTimer > span {
    width: 100%;
  }
}
#countDownTimer .number {
  font-size: 100px;
  padding: 0 20px;
  font-family: 'Playfair Display', serif;
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  #countDownTimer .number {
    font-size: 75px;
  }
}
#countDownTimer .desc {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
#countDownTimer #rings-icon {
  margin-top: -70px;
  margin-bottom: 0;
  text-align: center;
  flex-basis: 100%;
}
#countDownTimer #rings-icon img {
  width: 100px;
}
.section-pictures {
  padding: 60px 0;
  background-image: url('img/flower-vase.jpg');
  height: auto;
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  .section-pictures {
    padding: 8vw 0;
  }
}
#pictures {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pictures li {
  transform: rotate(-2deg);
  text-align: center;
  background: white;
  padding: 15px;
  margin-bottom: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
  #pictures li {
    margin-left: -20px;
    width: 50%;
  }
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  #pictures li {
    padding: 3vw;
  }
}
#pictures li:nth-of-type(2n) {
  transform: rotate(2deg);
}
@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
  #pictures li:nth-of-type(2n) {
    margin-left: 20px;
  }
}
#pictures li p {
  margin: 0;
  padding: 10px 0;
}
#pictures img {
  max-width: 100%;
}
