@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
.feedback {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.fffeedback .feedback {
  display: block;
}
.feedback span {
  display: none;
  font-size: 17px;
  padding: 3px 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 1200px) {
  .feedback .xxl {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feedback .xl {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .feedback .l {
    display: block;
  }
}
@media (min-width: 551px) and (max-width: 767px) {
  .feedback .m {
    display: block;
  }
}
@media (min-width: 321px) and (max-width: 550px) {
  .feedback .s {
    display: block;
  }
}
@media (max-width: 320px) {
  .feedback .xs {
    display: block;
  }
}
.container {
  margin: 0 auto;
  min-height: 100vh;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.container.small-container {
  display: flex;
  position: relative;
}
.container.small-container > * {
  margin: auto;
}
@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
  .container.small-container {
    width: 555px;
  }
}
body {
  margin: 0;
}
*,
:before,
:after {
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.font1 {
  font-family: 'Playfair Display', serif;
}
.font2 {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  line-height: 1.4em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
ul a {
  color: #b3b3b3;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a:hover,
ul a:hover {
  color: #b3b3b3;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}
h2 {
  font-size: 40px;
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  h2 {
    font-size: 26px;
  }
}
h3 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  h3 {
    font-size: 18px;
  }
}
p,
ul {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  line-height: 1.75em;
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  p,
  ul {
    font-size: 18px;
  }
}
p a,
ul a {
  text-decoration: none;
  border-bottom: 1px solid #b3b3b3;
  transition: border 0.2s ease-out;
}
p a:hover,
ul a:hover {
  color: white;
  border-color: white;
}
.section {
  position: relative;
  overflow: hidden;
  padding: 70px 0;
}
.section-header {
  padding: 0;
  /*
	.bottom-color {
		width: 130vw;
		// height: 70vh;
		height: ~'calc(250px + 3vw)';
		position: absolute;
		// top: 70%;
		top: ~'calc(100vh - 200px)';
		left: 0;
		transform-origin: 0 0;
		transform: rotate(-3deg) translateX(-10%);
		background-color: @blue;
		background-image: url(img/flower-wall.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media (orientation: landscape) {
			top: ~'calc(100vh - 110px)';
		}
	}
	*/
}
.section-header .top-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(img/mountain.jpg);
  background-position: top center;
}
.logo-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  max-width: 100%;
  display: flex;
}
@media (max-width: 500px) {
}
@media (orientation: landscape) {
}
#logo {
  max-width: 100%;
  margin: auto;
  width: 300px;
}
.outline {
  outline: 2px solid #b3b3b3;
  outline-offset: -15px;
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  .outline {
    outline: 3px solid #b3b3b3;
  }
}
.section-details {
  background-image: url('img/bouquet.jpg');
  overflow: visible;
}
.details-holder {
  padding: 40px 50px;
  background-color: #042745;
  position: relative;
  outline: 2px solid #b3b3b3;
  outline-offset: -15px;
  box-shadow: 0 0 120px #ffffff;
  text-align: center;
  color: #dbdbdb;
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  .details-holder {
    padding: 8vw;
  }
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  .details-holder {
    outline: 3px solid #b3b3b3;
  }
}
.details-holder .flower {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 170px;
  filter: hue-rotate(-46deg) saturate(0.75);
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  .details-holder .flower {
    width: 130px;
    transform: translate(0, -75%);
  }
}
.section-time {
  background-image: url('img/flower-wall.jpg');
  filter: hue-rotate(-15deg) saturate(0.75);
}
.section-time .details-holder {
  padding: 30px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  outline-offset: 0;
  outline: none;
  border: 5px solid #b3b3b3;
  border-top: none;
}
.section-time .details-holder:before,
.section-time .details-holder:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: calc(50% - 70px);
  height: 5px;
  background-color: #b3b3b3;
}
.section-time .details-holder:before {
  right: auto;
}
.section-time .details-holder:after {
  left: auto;
}
#countDownTimer {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
  #countDownTimer > span {
    width: 50%;
    padding: 20px;
  }
}
@media (min-width: 551px) and (max-width: 767px) {
  #countDownTimer > span {
    width: 50%;
  }
}
@media (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  #countDownTimer > span {
    width: 100%;
  }
}
#countDownTimer .number {
  font-size: 80px;
  line-height: 80px;
  padding: 0 20px;
  font-family: 'Playfair Display', serif;
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  #countDownTimer .number {
    line-height: 70px;
    font-size: 70px;
  }
}
#countDownTimer .desc {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
#countDownTimer #rings-icon {
  margin-top: -70px;
  margin-bottom: 0;
  text-align: center;
  flex-basis: 100%;
}
#countDownTimer #rings-icon img {
  width: 100px;
}
#pictures {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pictures li {
  transform: rotate(-2deg);
  text-align: center;
  background-color: white;
  padding: 2%;
  margin-bottom: 50px;
  border-radius: 5px;
  background-image: url(img/polaroid.jpg);
  background-size: 100% 102%;
}
#pictures li p {
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
  color: #042745;
  margin: 0;
  padding: 10px 0;
  text-shadow: 2px 2px 0 white;
}
@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
  #pictures li {
    margin-left: -20px;
  }
}
@media (min-width: 551px) and (max-width: 767px), (min-width: 321px) and (max-width: 550px), (max-width: 320px) {
  #pictures li {
    padding: 3vw;
  }
}
#pictures li:nth-of-type(2n) {
  transform: rotate(2deg);
}
@media (min-width: 1200px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
  #pictures li:nth-of-type(2n) {
    margin-left: 20px;
  }
}
#pictures img {
  max-width: 100%;
}
#triangles {
  position: absolute;
  top: 0;
  left: 0;
}
